.cards > ul {
    list-style: none;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color);
}

.cards .cards-card-body {
    margin: 16px;
    border: 1in;
}


/* .cards.large > ul > li {
    border: solid 2px red;
} */

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 5 / 7;
    object-fit: cover;
    transition: all 0.4s ease;
}

.cards:hover > ul > li img {
    transform: scale(1.02,1.02);
    cursor: pointer;
    overflow: hidden;
}