/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
    background-image: linear-gradient(to bottom, transparent, #2e2e38);
}
  
main .hero-container,
main .section .hero-wrapper {
    padding: 0;
}
  
main .hero {
    position: relative;
    padding: 70px;
    min-height: 300px;
}

main .hero h5 {
    max-width: 1200px;
    margin-left: -50px;
    margin-right: auto;
    text-align: left;
    color: yellow;
    padding-top: 40px;
    font-size: 0.75em;
}

main .hero h3 {
    max-width: 1200px;
    margin-left: -50px;
    margin-right: auto;
    text-align: left;
    color: white;
    font-size: 1.43em;
    font-weight: lighter;
}

main .hero h4 {
    max-width: 1200px;
    margin-left: -50px;
    margin-right: auto;
    text-align: justify;
    color: white;
    border-left: 3px solid #ffe600;
    padding: 10px;
    font-size: 0.7em;
}

main .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
    filter: brightness(100%);
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (min-width: 900px) {
    main .hero {
        position: relative;
        padding-top: 220px;
        min-height: 300px;
    }
    
    main .hero h5 {
        max-width: 1200px;
        margin-left: -20px;
        margin-right: auto;
        text-align: left;
        color: yellow;
        font-size: 0.75em;
    }
    
    main .hero h3 {
        max-width: 1200px;
        margin-left: -20px;
        margin-right: auto;
        text-align: left;
        color: white;
        font-size: 2.2em;
        width: 850px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        font-weight: lighter;
        margin-top: 0;
    }
    
    main .hero h4 {
        max-width: 1200px;
        margin-left: -20px;
        margin-right: auto;
        text-align: justify;
        color: white;
        border-left: 3px solid #ffe600;
        padding: 10px;
        font-size: 0.7em;
        width: 780px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        line-height: 25px;
    }
}