main .section .office-map-wrapper {
  padding: 0;
  max-width: 100%;
}

@media (min-width: 900px) {
  main .section .office-map-wrapper {
    padding: 0;
    max-width: 100%;
  }

  main .section.backcolor .office-map-wrapper {
    padding-top: 100px;
    max-width: 100%;
  }
}