/* below the fold CSS goes here */
@font-face {
  font-family: eyinterstate;
  src: url("/styles/fonts/EYInterstate-Light.woff") format("woff"),
       url("/styles/fonts/EYInterstate-Light.ttf") format("truetype"),
       url("/styles/fonts/EYInterstate-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: eyinterstate;
  src: url("/styles/fonts/EYInterstate-LightItalic.woff") format("woff"),
       url("/styles/fonts/EYInterstate-LightItalic.ttf") format("truetype"),
       url("/styles/fonts/EYInterstate-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: eyinterstate;
  src: url("/styles/fonts/EYInterstate-Regular.woff") format("woff"),
       url("/styles/fonts/EYInterstate-Regular.ttf") format("truetype"),
       url("/styles/fonts/EYInterstate-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: eyinterstate;
  src: url("/styles/fonts/EYInterstate-Italic.woff") format("woff"),
       url("/styles/fonts/EYInterstate-Italic.ttf") format("truetype"),
       url("/styles/fonts/EYInterstate-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: eyinterstate;
  src: url("/styles/fonts/EYInterstate-Bold.woff") format("woff"),
       url("/styles/fonts/EYInterstate-Bold.ttf") format("truetype"),
       url("/styles/fonts/EYInterstate-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: eyinterstate;
  src: url("/styles/fonts/EYInterstate-BoldItalic.woff") format("woff"),
       url("/styles/fonts/EYInterstate-BoldItalic.ttf") format("truetype"),
       url("/styles/fonts/EYInterstate-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
